/* Small Device Responsive Start Here */
@media screen and (max-width: 576px) {
  /* Nav Container Responsive Start Here */
  .nav-container .brand-name {
    margin-left: 15px;
  }
  .nav-list {
    display: none;
  }
  .ham-burger {
    display: block;
    font-size: 2rem;
    margin-right: 15px;
  }
  /* Nav Container Responsive End Here */

  /* Banner Container Responsive Start Here */
  .banner-container {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
  .banner-contain {
    width: 100%;
  }
  .banner-contain h2 {
    font-size: 3rem;
  }
  .miama-fonts {
    font-size: 6rem;
  }
  .banner-button {
    width: 100%;
    margin-bottom: 50px;
  }
  .btn {
    padding: 18px;
    font-size: 1.3rem;
  }
  .secend-btn {
    padding: 18px;
    font-size: 1.3rem;
  }
  .banner-images {
    width: 100%;
    justify-content: center;
  }
  .bottom-left {
    bottom: 226px;
    left: 1px;
  }
  .top-right {
    top: 55px;
    right: 0px;
  }
  /* Banner Container Responsive End Here */

  /* Habits Container Responsive Start Here */
  .habits-description h2 {
    font-size: 2rem;
    margin-top: 100px;
  }
  .habits-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .habits-group-1 img {
    margin-top: 40px;
  }
  /* Habits Container Responsive End Here */
}

/* Medium Device Responsive Start Here */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Nav Container Responsive Start Here */
  .nav-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* Nav Container Responsive End Here */

  /* Banner Container Responsive Start Here */
  .banner-container {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
  }
  .banner-contain {
    width: 100%;
  }
  .bottom-left {
    bottom: 180px;
    left: -75px;
  }
  .top-right {
    top: 55px;
    right: -23px;
  }
  /* Banner Container Responsive End Here */

  /* Habits Container Responsive Start Here */
  .habits-container {
    margin-right: 15px;
    margin-left: 15px;
  }
  .habits-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .habits-group-1{
    margin-top: 30px;
  }
  /* Habits Container Responsive End Here */
}
/* Medium Device Responsive End Here */
