* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Google Font Start Here */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* Google Font End Here */

/* Shared Style Start Here */
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.new-color {
  color: #e6533c;
}
.white-color {
  color: #fff;
}
.btn {
  background: #e6533c;
  border: none;
  padding: 16px 40px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 100;
}
/* Shared Style End Here */

/* Body Style Start Here */
body {
  background-color: black;
}
/* Body Style End Here */

/* Nav-Container Style Start Here */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}
.nav-container .brand-name {
  font-size: 2.5rem;
}
.nav-list {
  border: 2px solid rgba(139, 135, 135, 0.37);
  gap: 48px;
  align-items: center;
  border-radius: 40px;
  font-size: 1.25rem;
  padding: 5px;
}
.nav-container li {
  list-style: none;
}
.nav-btn {
  background: #e6533c;
  padding: 8px 20px;
  border-radius: 30px;
}
.ham-burger {
  display: none;
}
/* Nav-Container Style End Here */

/* Banner Container Style Start Here */
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
}
.banner-contain {
  width: 50%;
}
.banner-contain h2 {
  font-size: 4rem;
  font-weight: 900;
}
.miama-fonts {
  font-family: "Miama", sans-serif;
  font-size: 8rem;
  line-height: 0;
  font-weight: 400;
}
.banner-contain p {
  margin-top: 25px;
  font-size: 1rem;
  opacity: 0.4;
}
.banner-button {
  margin-top: 25px;
  width: 500px;
}
.secend-btn {
  background-color: black;
  border: 1px solid white;
  padding: 16px 40px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 100;
  margin-left: 15px;
}
.banner-images {
  width: 50%;
  justify-content: flex-end;
  position: relative;
}
.banner-images img {
  height: auto;
}
.bottom-left {
  position: absolute;
  bottom: 75px;
  left: 158px;
  padding: 20px 20px 20px 55px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.418);
}
.bottom-left h6 {
  color: #fafaf9;
  font-size: 1.5rem;
}
.bottom-left p {
  color: #fafaf9;
  font-size: 1rem;
  opacity: 0.5;
}
.play-button {
  position: absolute;
  bottom: 24px;
  left: 7px;
  display: grid;
  place-items: center;
  font-size: 80px;
  color: #fafaf9;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background: #e6533c;
  color: pointer;
}
.play-button::before {
  content: "";
  display: inline-block;
  border-left: 10px solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.top-right {
  position: absolute;
  top: 127px;
  right: -64px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.192);
}
.top-right h6 {
  color: #ffffff;
  font-size: 2.1rem;
}
.top-right p {
  color: #fafaf9;
  font-size: 1rem;
  opacity: 0.5;
}
/* Banner Container Style End Here */

/* Habits Container Style Start Here */
.habits-container {
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
}
.habits-description {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.habits-description h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 900;
}
.habits-description p {
  font-size: 0.9rem;
  opacity: 0.4;
  line-height: 1.3em;
}
.habits-group {
  margin: auto;
  margin-top: 60px;
  width: 1044px;
  height: fit-content;
  max-width: 100%;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.habits-group-1 img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.habits-group-1 h6 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.habits-group-1 p {
  font-size: 0.9rem;
  opacity: 0.4;
  line-height: 1.3em;
}
/* Habits Container Style End Here */

/* Run Container Style Start Here */
.run-container {
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.run-contain {
  width: 50%;
}
.run-contain h2 {
  font-size: 2.5rem;
  margin-bottom: 14px;
  font-weight: 900;
}
.run-contain p {
  font-size: 0.9rem;
  opacity: 0.4;
  margin-bottom: 30px;
}
.run-img {
  width: 381px;
  height: 393px;
  border-radius: 20px;
}
.run-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: none;
  object-position: 67% 31%;
}
/* Run Container Style End Here */

/* Bmi Container Style Start Here */
.bmi-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}
.bmi-contain {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.bmi-contain h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 900;
}
.bmi-contain p {
  font-size: 1rem;
  opacity: 0.4;
}
.bmi-chart {
  width: 45%;
}
.bmi-chart h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}
.bmi-table {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-collapse: collapse;
}
.bmi-table th {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.26);
  padding: 10px;
  opacity: 0.9;
}
.bmi-table td {
  border: 1px solid rgba(255, 255, 255, 0.26);
  opacity: 0.4;
  padding: 10px;
}
.bmi-calculator {
  width: 40%;
  margin-left: 180px;
}
.bmi-calculator input {
  background: rgba(121, 110, 110, 0.562);
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
::placeholder {
  color: white;
  opacity: 0.5;
}
.bmi-calculator select {
  background: rgba(121, 110, 110, 0.562);
  color: rgb(172, 171, 171);
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.bmi-calculator h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 15px;
}
.bmi-calculator p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.4;
  margin-bottom: 35px;
}
.bmi-group {
  position: relative;
}
.down-arrow {
  position: absolute;
  top: -38px;
  right: 102px;
  opacity: 0.4;
}
.bmi-select {
  width: 40%;
  padding: 10px;
  appearance: none;
  position: absolute;
  top: -45px;
  left: 194px;
}
.bmi-group-1 {
  position: relative;
  margin-bottom: 50px;
}
.bmi-select-1 {
  width: 81%;
  position: absolute;
  appearance: none;
  position: absolute;
}
.down-arrow-1 {
  position: absolute;
  top: 8px;
  right: 108px;
  opacity: 0.4;
}
/* Bmi Container Style End Here */
